body{
    margin: 1%;
    background: #CCEBF0;
    transition: 0.5s;
}
/* section{
    background: #FFFFFF;
} */
img.ss{
    width: 400px;
}
header{
    line-height: 20px;
    display: inline-block;
    width: 100%;
    background: #CCEBF0;
}
header img{
    float: left;
    margin-right: 10px;
    width: 100px;
}
header h1{
    float:left;
    margin: 0 auto;
    margin-bottom: 10px;
}
header nav{
    margin: 40px 0px 30px -10px;
}
a.navbar-brand{
    float:left;
}
nav a{
    margin: 5px 10px 0 10px;
    text-decoration: none;
    border: 3px solid;
    padding:5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    background: #FFFFFF;
    color: #000000;
    transition: 0.5s;

}
a.current{
    background: #66feff;
    background: -webkit-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -moz-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -o-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: linear-gradient(top, #0d46a0 0%, #66feff 100%);
}
nav a:hover{
    background: #66feff;
    background: -webkit-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -moz-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -o-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: linear-gradient(top, #0d46a0 0%, #66feff 100%);
    text-decoration: none;
}
footer nav{
    margin: 20px 0px;
}
header hr{
    clear: both;
}
/*For Awards ToC*/
nav.toc{
    display: inline-block;
    position: fixed;
    top: 150px;
    right: 400px;
    border: solid 0.5px #000000;
    padding: 0px 15px 30px;
    height: 300px;
    width: 10%;
    text-align: center;
}
nav.toc a{
    display:inline-block;
    margin: 10% auto;
    width:100px;
}
/*For Awards Sub-Title styling*/
#awards h3{
    text-align: center;
}
/*For Awards Image Carousel styling*/
div.carousel{
    border: solid 1px #000000;
    width: 450px;
    margin: 0 auto;
}
img.d-block{
    margin: auto;
}
div.carousel-caption{
    background: #FFFFFF;
    color: #000000;
    border: solid 1px #000000;
    opacity: 0.7;
}
/*For Awards Image Carousel (UnF) styling*/
#carousel4 img{
    width:100%;
}
/*For Five Year Plan styling*/
table.calendar{
    border: solid 0.5px #000000;
    background: #CCEBF0;
    width: 400px;
    height: 40%;
    border-spacing: 0;
}
.calendar caption{
    caption-side: top;
    background: #0d46a0;
    background: -webkit-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -moz-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -o-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: linear-gradient(top, #0d46a0 0%, #66feff 100%);
    font-size: 150%;
    color: #000000;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    border: solid 2px #000000;
    border-bottom: 0px;
    text-align: center;
}
table.calendar td{

    border: solid 0.5px #000000;
    width: 50px;
    height: 50px;
    vertical-align: top;
}
table.calendar th{
    border: solid 0.5px #000000;
    background: #FFFFFF;
}
td.filler{
    background: #FFFFFF;
}
td.drop{
    background: #4171BD;
}
.test{
    font-size: 30px;
}
td.drop:hover + .test{
    font-size: 300px;
}
img.drop{
    display: inline-block;
    width: 45%;
}
img.dropoff{
    display: none;
}
img.dropon{
    position: absolute;
    width: 350px;
    top: 60%;
    right: 10%;
    display: inline-block;
}
/*For Sticky Footer styling*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
section.main{
    flex:1;
}
footer p{
    font-size:70%;
}
/*For Home Page ToC styling*/
div.toc{
    margin: 10px;
    text-decoration: none;
    border: 3px solid;
    padding:5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    background: #FFFFFF;
    color: #000000;
    transition: 0.5s;
    display: inline-block;
}
/*Temp fix to get rid of horizontal scroll bar*/
html{
    overflow-x: hidden;
}
/*For Graph styling*/
.chart {
    border: solid 1px #000000;
    width: 100%; 
  }
  .row {
    margin:0 !important;
  }