body{
    margin: 1%;
    background: #CCEBF0;
    transition: 0.5s;
}
img.ss{
    width: 400px;
}
header{
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
header img{
    float: left;
    margin-right: 10px;
    width: 100px;
}
header h1{
    float:left;
    margin: 0 auto;
    margin-bottom: 10px;
}
header nav{
    clear:both;
    margin: 40px 0px 30px -10px;
}
header nav a{
    margin: 0px 10px;
    text-decoration: none;
    border: 3px solid;
    padding:5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    background: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

a.current{
    background: #66feff;
    background: -webkit-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -moz-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -o-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: linear-gradient(top, #0d46a0 0%, #66feff 100%);
}
header nav a:hover{
    background: #66feff;
    background: -webkit-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -moz-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: -o-linear-gradient(top, #0d46a0 0%, #66feff 100%);
    background: linear-gradient(top, #0d46a0 0%, #66feff 100%);
}
header hr{
    clear: both;
}